<div>
  <div v-if="err">Whoops! Something went wrong.</div>

  <div v-if="showInit">Loading...</div>

  <div v-if="showDashboard">Welcome to Dashboard</div>

  <div v-if="showForm">
    <div>Log in</div>

    <form @submit.prevent="submit">
      <input @input="evt => changeEmail(evt.target.value)"
             :value="m.model.email"
             :disabled="isSubmitting"
             placeholder="Email">

      <input type="password"
             @input="evt => changePassword(evt.target.value)"
             :value="m.model.password"
             :disabled="isSubmitting"
             placeholder="password">

      <button type="submit" :disabled="isSubmitting">
        <span v-if="isSubmitting">Logging in...</span>
        <span v-else>Log in</span>
      </button>
    </form>
  </div>
</div>
